#footer {
    background-color: #a8abb6
  }
  
  .footer-follow {
    text-align: center;
    padding-inline-start: 0;
    margin: 0;
  }
  .footer-follow li {
    display: inline-block;
  }
  
  .footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #f0b152;
  color:#FFF;
  }
  
  .footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color:#383835;
  
  }
  