body {
    width: 100%;
    margin: auto;
  }

  fieldset{
    width: 700px;
    margin: auto;
  }

  main{
      display: grid;
      grid-template-rows: 700px 1fr;
      gap: 30px;
      padding: 30px 0;
  }
  
  div.elem-group {
    margin: 10px 0;
  }
  
  div.elem-group.inlined {
    width: 50%;
    float: left;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: #000;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    
  }
  
  button:hover {
    background-color: rgb(78, 78, 78);
    color: black;
    
  }

  #bookingProfile {
      
      padding: 0 25px;
      
  }

  #bookingProfile table{
      border-collapse: collapse;
      margin: auto;
  }

  #bookingProfile table thead th{
      border: solid 1px;
      text-align: center;
      width: 200px;
  }

  #bookingProfile table td{
    border: solid 1px;
    word-break: break-all;
    text-align: center;
    width: 200px;
    height: 10px;
}

