html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

body {
  margin: 0%;
}

.beach{
  width: 100%;
}

.divclass h1 {
  margin: 0%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.divclass {
  position: relative;
  bottom: 200px;
  background-color: #ffc107c4;
  width: 70%;
  font-size: 25px;
}

.divclass:hover{
  position: relative;
  bottom: 200px;
  background-color: #ffc10777;
}

h1, h2 {
  font-family: "Segoe UI",Arial,sans-serif;
  margin: 10px 0;
  line-height: 1.5;
}

.section1{
  width: 100%;
  margin-left: 135px;
}
.raw {
  width: 100%;
  display: flex;
}

.img1 {
  margin-right: 50px;
}

section section img {
  border-top: solid 10px #ffc107c4;
}